[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/badkraft/repos/sigma/sigma-test/test/test_hooks.c
Type=Link
URL=file:///home/badkraft/repos/sigma/sigma-test/test/test_hooks.c
Icon=text-x-csrc
Name[en_US]=test_hooks.c
