[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/badkraft/repos/sigma/sigma-test/src/hooks/junit_hooks.c
Type=Link
URL=file:///home/badkraft/repos/sigma/sigma-test/src/hooks/junit_hooks.c
Icon=text-x-csrc
Name[en_US]=junit_hooks.c
