[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/badkraft/repos/sigma/sigma-test/include/hooks/junit_hooks.h
Type=Link
URL=file:///home/badkraft/repos/sigma/sigma-test/include/hooks/junit_hooks.h
Icon=text-x-chdr
Name[en_US]=junit_hooks.h
